<div>
	<%= "検索結果" %>
  <P>
  <% @users.each do |user| %>
  	生徒名：
  	<%= user.name %><br/>

  	電話番号：
  	<%= user.tel %><br/>

  	次回授業時間：
	  <% if user.next_lesson.present? %>
	    <%= user.next_lesson.date_time %><br/>
		<% else %>
		  未決定<br/>
		<% end %>

		前回授業：
	  <% if user.users_lessons.present? %>
	  	<%= user.users_lessons.where(check: 1).order("updated_at DESC").first.lesson.name %><br/>
	  <% else %>
	  	未受講<br/>
	  <% end %>

		10ケースマラソン：
		<% if user.users_interviews.present? %>
			<%= user.users_interviews.where(check: 1).order("updated_at DESC").first.interview.name %><br/>
		<% else %>
		  未開始<br/>
		<% end %>

	  12示唆マラソン：
	  <% if user.users_insights.present? %>
	    <%= user.users_insights.where(check: 1).order("updated_at DESC").first.insight.name %><br/>
	  <% else %>
	    未開始<br/>
	  <% end %>
  <% end %>
  </P>
</div>

<p><%= link_to 'Admin Home', admin_path(current_admin) %></p>