<section class="hero is-fullheight">
	<div class='container'>
		<div class="hero-body">
			<div class="column is-4 is-offset-4">
				<h3 class="subtitle"><strong>検索結果</strong></h3>		
					<% @users.each do |user| %>
						生徒名：
						<%= link_to "#{user.name}", admins_user_path(user.id) %><br/>
						<br>
						<%= image_tag user.avatar.url(:medium) %>
						<br>
						電話番号：
						<%= user.tel %><br/>
						<br>
						Emailアドレス：
						<p><%= user.email%></p>
						<br>
						次回授業時間：
						<%= user.has_next_lesson %>
						<br>
						前回授業：
						<%= user.has_lessons %>
						<br>
						10ケースマラソン：
						<%= user.has_interviews %>
						<br>
						12示唆マラソン：
						<%= user.has_insights %>
						<br>
						考えるエンジン検定：
						<%= user.has_exams %>
						<br>
					<% end %>
			</div>
		</div>
	</div>
</section>
