<p>
<div class='search'>
	<%= form_tag('/admins/search', method: :get) do %>
	  <input class="search_query" name="keyword" placeholder="生徒名（フリガナ）で検索" type="string" value="">
	  	<button class="btn-search" title="検索" type="submit"></button>
	  </input>
	<% end %>
</div>
</p>

<div class='user'>
	<% @users.each do |user| %>
	<ul>
	  <h4><%=link_to "#{user.name}", user_path(user) %></h4>

		<li>プロフィール写真</li>
	  <%= image_tag user.avatar.url(:medium) %>

	  <li>電話番号：<%= user.tel %></li><br>

		<li>次回授業時間：
		  <% if user.next_lesson.present? %>
		    <%= user.next_lesson.date_time.strftime("%Y-%m-%d %H:%M:%S") %>
			<% else %>
			  未決定
			<% end %>
	  </li><br>

		<li>前回授業：
		  <% if user.users_lessons.present? %>
		  	<%= user.users_lessons.order("updated_at DESC").first.lesson.name %>
		  <% else %>
		  	未受講
		  <% end %>
	  </li><br>

		<li>10ケースマラソン：
			<% if user.users_interviews.present? %>
				<%= user.users_interviews.order("updated_at DESC").first.interview.name %>
			<% else %>
			  未開始
			<% end %>
	  </li><br>

	  <li>12示唆マラソン：
		  <% if user.users_insights.present? %>
		    <%= user.users_insights.order("updated_at DESC").first.insight.name %>
		  <% else %>
		    未開始
		  <% end %>
	  </li><br>

	  <li>考えるエンジン検定：
		  <% if user.users_exams.present? %>
		    <%= user.users_exams.order("updated_at DESC").first.exam.name %>
		  <% else %>
		    未受験
		  <% end %>
		</li><br>
	</ul>
  <% end %>
</div>