
<section class="hero is-medium">
	<div class='container'>
		<div class='block'>
		</div>
		<div class="field has-addons box">
		    <div class='control is-expanded'>
		    <%= form_tag('/admins/search', method: :get) do %>
		    <%= text_field_tag :search, params[:search], :class => 'input is-success', placeholder: "フリガナで生徒検索" %>
		    </div>
		    <div class="control">
		    <%= submit_tag "Search", :name => nil, :class => 'button is-link' %>
		    </div>
		    <% end %>
			</div>
		</div>
	</div>
</section>

<section class="section is-clearfix">
  <div class='container'>
  	<p class='subtitle has-text-danger has-text-centered '>次回予約未定の生徒</p>
  	  <div class='level'>
  	  	<div class='level-item'>
			  <% @forgotten_users.each do |forgotten_user| %>
				  <p class='subtitle has-text-centered '><%=link_to "#{forgotten_user.name}", admins_user_path(forgotten_user.id) %>/</p>
			  <% end %>
			  </div>
		  </div>
	  <nav class="pagination" role="navigation" aria-label="pagination">
		  <%= paginate @forgotten_users, :param_name => 'forgotten_page' %>
	  </nav>
	</div>
</section>

<section class="section is-clearfix">
<p class='subtitle has-text-danger has-text-centered '>生徒情報</p>
  <div class='row columns'>
  	<% @coming_users.each do |user| %>
  	  <div class='column is-2'>
  	  	<div class='card large'>
  	  		<div class='card-image'>
  	  			<figure class="image">
				      <%= image_tag user.avatar.url(:medium) %>
				    </figure>
				  </div>
				  <div class='card-content'>
  				  <p class='subtitle has-text-centered'><%=link_to "#{user.name}", admins_user_path(user.id) %></p>
				    <p>電話番号:</p>
				    <p><%= user.tel %></p><br>
				   
	 				  <p>次回授業時間:</p>
						<% if user.next_lesson.present? %>
						  <p><%= user.next_lesson.datetime %></p>
						<% else %>
						  <p>未決定</p>
						<% end %>
				    <br>

				    <p>前回授業:</p>
					  <%= user.has_lessons(user) %>
				    <br>

					  <p>10ケースマラソン:</p>
					  <%= user.has_interviews(user) %>
				    <br>

				    <p>12示唆マラソン:</p>
					  <%= user.has_insights(user) %>
				    <br>

				    <p>考えるエンジン検定:</p>
						<%= user.has_exams(user) %>
	
					  <br>
					</div>
		    </div>
		  </div>
		  <% end %>
		</div>
	<nav class="pagination" role="navigation" aria-label="pagination">
    <%= paginate @coming_users, :param_name => 'user_page' %>
  </nav>
</section>



