<li><%= link_to 'Sign Out', destroy_admin_session_path, method: :delete %></li>
<p><%= @admin.email %></p>

<div>
	<%= form_tag('/admins/search', method: :get) do %>
	  <input class="search__query" name="keyword" placeholder="生徒名で検索" type="string" value="">
	  	<button class="btn-search" title="検索" type="submit"></button> 
	  </input>
	<% end %>
</div>
<div>
	<% @users.each do |user| %>
	<li>
	  name:    <%= user.name %>
	  tel:     <%= user.tel %>
	  time:    <%= user.next_lesson %>
	  <% if user.users_lessons present? %>
	  lesson:  <%= user.users_lessons.where(check: 1).order("updated_at DESC").first.lesson.name %>
	  <% else %>
	   not yet
	  <% end %>
	</li>
  <% end %>
</div>