
		<div class='column is-3-tablet is-offset-1-tablet is-2-desktop is-offset-1-desktop is-fullwidth-mobile box'>
			<div class='title is-size-5-mobile is-size-5-tablet is-size-4-desktop has-text-centered'>10ケースマラソン</div>
			<% interviews.each_with_index do |interview, i| %>
			  <ul>
				  <div class='subtitle is-size-5 has-text-centered'><%= interview.name %></div>
				  	<% if interview.users_interviews.exists?(user_id: user.id) %>
						 	<div class='subtitle is-size-5 has-text-link has-text-centered'><%= interview.interview_date(user) %></div>
						 	<div class='block'></div>
					  <% else %>
							<p class='has-text-centered'>
		 					  <a class="button is-danger modal-button 02" id="modal-btn<%= i %>" data-index=<%= i %>>実施日登録</a>
		 					  <div class='block'></div>
		          </p>
								  <div id="users-interview-modal<%= i %>" class="modal">
		  						  <div class="modal-background"></div>
		  							<div class="modal-content box has-text-centered">
      							  <p class="subtitle">10ケースマラソン：<%= interview.name %></p>
										  	<%= form_for [user, users_interview], remote: true, html: {role: :form, 'data-model' => 'users_lesson'} do |f| %>
													<% if users_interview.errors.any? %>
								    				<div id="error_explanation">
								      				<ul>
									      				<% users_interview.errors.full_messages.each do |msg| %>
									        				<li><%= msg %></li>
									      				<% end %>
								      				</ul>
								    				</div>
								  				<% end %>
								  				<div class="field has-addons">
													  <div class="control is-expanded">
										    	    <%= f.date_field :date, :class => "input is-success", value: Time.now.strftime("%Y-%m-%d")%>
										    	  </div>
										        <span class="help-block"></span>
										        <%= f.hidden_field :interview_id, :value => interview.id %>
										        <div class="control">
										        <%= f.submit '実施日登録', :class => 'button is-link'%>
										        </div>
										      </div>
								          <% end %>
							 			</div>
							 			<button class="modal-close is-large" aria-label="close" data-dismiss="modal"></button>
					 			    </div>
						<% end %>
				</ul>
			<% end %>
		</div>