								  	<p class="has-text-centered">
		 								  <a class="button is-danger modal-button 01" id="modal-btn<%= i %>" data-index=<%= i %>>受講日登録</a>
		 								  <div class='block'></div>
		                </p>
								  	<div id="users-lesson-modal<%= i %>" class="modal">
		  								<div class="modal-background"></div>
		  								<div class="modal-content box has-text-centered">
      									<p class="subtitle"><%= lesson.name %></p>
										  		<%= form_for [user, users_lesson], remote: true do |f| %>
								  				<div class="field has-addons">
										    		<%= f.date_field :date, :class => "input is-info", value: Time.now.strftime("%Y-%m-%d") %>
										        <%= f.hidden_field :lesson_id, :value => lesson.id %>
										        <div class="control">
										          <%= f.submit '受講日登録', :class => 'button is-danger'%>
										        </div>
										      </div>
								          <% end %>
							 			  </div>
							 			  <button class="modal-close is-large" aria-label="close" data-dismiss="modal"></button>
					 			    </div> 