
	  <div class='column is-fullwidth-mobile is-4-tablet is-offset-2-tablet is-4-desktop is-offset-1-desktop box'>
			<div class='title is-size-5-mobile is-size-5-tablet is-size-4-desktop has-text-centered'>実践講義</div>
			<% practices.each_with_index do |practice, i| %>
			  <ul>
				  <div class='subtitle is-size-5 has-text-centered'><%= practice.name %></div>
				  	<% if practice.users_practices.exists?(user_id: user.id) %>
						 	<div class='subtitle is-size-5 has-text-link has-text-centered'><%= practice.practice_date(user) %></div>
						 	<div class='block'></div>
				  	<% else %>
							<p class='has-text-centered'>
		 					  <a class="button is-danger modal-button 05" id="modal-btn<%= i %>" data-index=<%= i %>>実施日登録</a>
		 					  <div class='block'></div>
		          </p>
								  <div id="users-practice-modal<%= i %>" class="modal">
		  						  <div class="modal-background"></div>
		  							<div class="modal-content box has-text-centered">
      							  <p class="subtitle">実践講義：<%= practice.name %></p>
										  	<%= form_for [user, users_practice], remote: true do |f| %>
													<% if users_practice.errors.any? %>
								    				<div id="error_explanation">
								      				<ul>
									      				<% users_practice.errors.full_messages.each do |msg| %>
									        				<li><%= msg %></li>
									      				<% end %>
								      				</ul>
								    				</div>
								  				<% end %>
								  					<div class="field has-addons">
														  <div class="control is-expanded">
										    		    <%= f.date_field :date, :class => "input is-success", value: Time.now.strftime("%Y-%m-%d") %>
										    	    </div>
										          <span class="help-block"></span>
										          <%= f.hidden_field :practice_id, :value => practice.id %>
										          <div class="control">
										            <%= f.submit '受講日登録', :class => 'button is-link'%>
										          </div>
										        </div>
								          <% end %>
							 			</div>
							 			<button class="modal-close is-large"></button>
					 			    </div>
						<% end %>
				</ul>
		  <% end %>
	  </div>