<%# Conditionally set remote: true. Also, passing model name as data attribute %>
<% modal ||= false %>
<% remote = modal ? true : false %>
<div class="m0dal" id="new_users_practice_modal" >
	<div class="m-dialog">
    <div class="m-header">
    	<button type="button" class="close" id="m-close" data-dismiss="modal" aria-hidden="true">&times;</button>
    	<p>実践講義</p>
        <h4 class="m-title" id="myModalLabel"><%= practice.name %></h4>
    </div>
		<div class="m-body">
			<%= form_for [current_user, @users_practice], remote: remote, html: {role: :form, 'data-model' => 'users_practice'} do |f| %>

			  <% if @users_practice.errors.any? %>
			    <div id="error_explanation">
			      <ul>
				      <% @users_practice.errors.full_messages.each do |msg| %>
				        <li><%= msg %></li>
				      <% end %>
			      </ul>
			    </div>
			  <% end %>

			  <div class="form-group">
			    <%= f.label :受講日, class: 'control-label' %>
			    <strong><%= f.date_field :date, class: 'form-control' %></strong>
			    <span class="help-block"></span>
			    <%= f.hidden_field :practice_id, :value => practice.id %>
			  </div>

			  <div class="actions">
			    <%= f.submit '登録', id: "btn btn-submit" %>
			  </div>
			<% end %>
    </div>
	</div>
</div>

