
<section class="hero is-medium has-bg-image">
	<div class="hero-body">
	  <div class="container has-text-centered">
	    <%= render :partial => "lastLesson", locals: { user: @user } %>
			<%= render :partial => "progressbar", locals: { progress: @progress } %>
			<%= render :partial => "nextLesson", locals: { user: @user, next_lesson: @next_lesson } %>
		</div>
	</div>
</section>

<section class="section is-clearfix">
<div class='container'>
  <div class='columns'>
  	<%= render :partial => "lesson", locals: { lessons: @lessons, user: @user, users_lesson: @users_lesson } %>
  	<%= render :partial => "interview", locals: { interviews: @interviews, user: @user, users_interview: @users_interview } %>
  	<%= render :partial => "insight", locals: { insights: @insights, user: @user, users_insight: @users_insight } %>
  	<div class='column is-1-tablet'>
		</div>
	</div>
</div>
</section>

<section class="section is-clearfix has-background-white-bis">
<div class='container'>
	<div class='columns'>
		<%= render :partial => "exam", locals: { exams: @exams, user: @user, users_exam: @users_exam } %>
		<%= render :partial => "practice", locals: { practices: @practices, user: @user, users_practice: @users_practice } %>
		<div class='column'>
		</div>
	</div>
</div>
</section>

<section class="section is-clearfix has-background-white-ter">
<div class='container'>
	<div class='columns'>
	<%= render :partial => "expedition", locals: { expeditions: @expeditions, user: @user, users_expedition: @users_expedition } %>
	</div>
</div>
</section>

