<p><%= current_user.name %>さんのページ
	<div contents>
		<% @lessons.each do |lesson| %>
			<li>
				<%= lesson.name %>
				<% if lesson.users_lessons.exists?(user_id: current_user.id) %>
					<%= lesson.user_id %>
				<% else %>
					<%= form_for [current_user, @users_lesson] do |f| %>
		 			  <%= f.date_select :date %>
		 			  <%= f.check_box :check %>
		 			  <%= f.hidden_field :lesson_id, :value => lesson.id %>
					  <%= f.submit "confirm" %>
					<% end %>
				<% end %>
			</li>
		<% end %>
  </div>
</p>