
<section class="hero is-medium has-bg-image">
	<div class="hero-body">
	  <div class="container has-text-centered">
	    <%= render :partial => "lastLesson", locals: { user: @user } %>
			<%= render :partial => "progressbar", locals: { progress: @progress } %>
			<%= render :partial => "nextLesson", locals: { user: @user, next_lesson: @next_lesson } %>
		</div>
	</div>
</section>

<section class="section is-clearfix">
<div class='container'>
  <div class='columns'>
  	<%= render :partial => "lesson", locals: {lessons: @lessons, user: @user} %>
  	<%= render :partial => "interview", locals: {interviews: @interviews, user: @user} %>
  	<%= render :partial => "insight", locals: {insights: @insights, user: @user} %>
  	<div class='column'>
		</div>
	</div>
</div>
</section>

<section class="section is-clearfix has-background-white-bis">
<div class='container'>
	<div class='columns'>
		<%= render :partial => "exam", locals: {exams: @exams, user: @user} %>
		<%= render :partial => "practice", locals: {practices: @practices, user: @user} %>
		<div class='column'>
		</div>
	</div>
</div>
</section>

<section class="section is-clearfix has-background-white-ter">
<div class='container'>
	<div class='columns'>
	<%= render :partial => "expedition", locals: {expeditions: @expeditions, user: @user} %>
	</div>
</div>
</section>

