<!DOCTYPE html>
<html>
<head>
  <title>Kangaeruengine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= render partial: 'users/header' %>
  <% elsif current_admin %>
    <%= render partial: 'admins/header' %>
  <% end %>

  <div class='container'>
    <div class='row'>
      <div class='col-lg-12'>
    		<p class="notice"><%= notice %></p>
    		<p class="alert"><%= alert %></p>
    		<%= yield %>
  	  </div>
    </div>
      <footer class='row text-center'>
        <p></p>
      </footer>
  </div>
</body>
</html>
